<?xml version="1.0" ?>
<!DOCTYPE xml>
<model>
    <name>mars</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Rudranil Bose</name>
        <email>rudranilbose1@gmail.com</email>
    </author>
    <description>Terrain file for Martian world</description>
</model>